{% extends 'base.html.twig' %}

{% block title %}Bienvenue! {% endblock %}

{% block body %}
<div class="container">

<table class="table">
	<thead>
		<tr>
			
<th scope="col" style="width: 25%">Titre</th>

<th scope="col" style="width: 25%">Date de création
</th>

<th scope="col" style="width: 25%">Type</th>




<th class="d-flex justify-content-center" style="width: 25%">Action</th>


		</tr>
	</thead>
	<tbody>
	{% for result in results %}
		
		<tr>
			
			<td>{{result.title}}</td>
<td>{{result.dateCreate | date('d-m-Y') }}</td>
<td class="mr-2">{{result.type }}</td>





<td class="d-flex  justify-content-start ">




{% if result.type =='normal' %}
	<a href="{{path('student_exercise_normal',{'id':result.id})}}" id="normal" class="card-link btn  btn-outline-success normal ml-1">


		<i class="fas fa-eye mr-2"></i>voir</a>

{% else %}

	<a href="{{path('student_exercise_parson',{'id':result.id})}}"  class="card-link btn parson1 btn-outline-success">


		<i class="fas fa-eye mr-1"></i>voir</a>
<a href="#" class="card-link btn parson2 btn-outline-success">


		<i class="fas fa-pen-alt mr-1"></i>résoudre</a>


{% endif %}



</td>


			
		</tr>
	{% endfor %}
	</tbody>
</table>



<div class="d-flex justify-content-center">
	<ul class="pagination">
<li class="page-item {% if page == 1 %} disabled {% endif %}">


<a class="page-link" href="{{path('student_index',{'page' : page - 1 })}}">&laquo;</a>

		</li>
		
		{% for i in 1..pages %}
			
			
<li class="page-item {% if page == i %} active {% endif %}">


			<a class="page-link" href="{{path('student_index',{'page' : i })}}">{{i}}</a>
		</li>
		{% endfor %}
		
<li class="page-item {% if page == pages %} disabled {% endif %}">

<a class="page-link" href="{{path('student_index',{'page' : page + 1 })}}">&raquo;</a>

		</li>
	</ul>
</div>



</div>
{% endblock %}
{% block javascripts %}
<script>
function goBack() {
  window.history.back();
}


</script>
{% endblock %}