{% extends 'base.html.twig' %}

{% block title %}{{exercise.title}} {% endblock %}
{% block body %}
<div class="container mt-1">

<nav aria-label="breadcrumb mt-2 mb-2">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">
<a href="{{path('student_exercise_classes',{'slug': exercise.classes.slug })}}" class="btn btn-info">


				<i class="fas fa-angle-left"></i>Retour</a>


		</li>

	</ol>
</nav>


<div class="jumbotron">
	<h1 class="display-4">{{exercise.title}}</h1>
	
	<hr class="my-4">
<div class="alert alert-warning mt-1" role="alert">

{{exercise.description | raw}}
	</div>
	
{% for key,line in exercise.linesExercise %}

<div class="alert alert-success" role="alert">
{{key + 1}}-{{line.instruction}}
</div>

{% endfor %}
	
</div>







</div>
{% endblock %}