<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1">
	<a class="navbar-brand" href="{{path('home')}}">SymApp</a>
{% if app.user %}

	<ul class="navbar-nav mr-auto student">
		<li class="nav-item mr-2">
<a class="nav-link  active" href="{{path('student_index')}}">
	<i class="fas fa-book mr-1"></i>Cours</a>



		</li>
		<li class="nav-item mr-2">

<a class="nav-link  active" href="{{path('student_exercise_index')}}">
	<i class="fas fa-file-signature mr-1"></i>Exercice</a>



		</li>
	</ul>
{% endif %}



	<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor02">

		<ul class="navbar-nav ">
			{% if app.user %}
				<li class="nav-item mr-2">
<a class="btn btn-outline-danger" type="button" href="{{path('account_logout')}}">
	<i class="fas fa-sign-out-alt mr-1"></i>Deconnexion</a>




				</li>

			{% else %}

				<li class="nav-item mr-2">
<a class="nav-link btn btn-success active" href="{{path('account_login')}}">
	<i class="fas fa-door-open mr-1"></i>Connexion</a>

				</li>
				<li class="nav-item">
<a class="nav-link btn btn-info" href="{{path('registration_student')}}">
	<i class="fas fa-user-plus mr-1"></i>Inscription</a>

				</li>
			{% endif %}

		</ul>

	</div>
</nav>
{% for label,messages in app.flashes %}
	<div class="container-md mt-1 mb-1">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>

			{% endfor %}

		</div>

	</div>

{% endfor %}
