<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include "partials_teacher/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials_teacher/footer.html.twig" %}


<script src="https://kit.fontawesome.com/38ed014f42.js" crossorigin="anonymous"></script>
<script src="{{asset('js/jquery.js')}}"></script>

        <!--script src="{{asset('js/jquery.slim.min.js')}}"></script-->
        <script src="{{asset('js/popper.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        {% block javascripts %}
        {% endblock %}
        
    </body>
</html>
