<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{path('home_teacher')}}">SymApp</a>
	{% if app.user %}

		<ul class="navbar-nav mr-auto">
			<li class="nav-item mr-2">
				<a class="nav-link  active" href="{{path('classes_teacher')}}">Cours</a>
				
			</li>
			<li class="nav-item mr-2">
				
				<a class="nav-link  active" href="#">Exercice</a>
			</li>
		</ul>
	{% endif %}


	<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor02">

		<ul class="navbar-nav ">
			{% if app.user %}
				<li class="nav-item mr-2">
<a class="btn btn-outline-dark" type="button" href="{{path('teacher_logout')}}">Deconnexion</a>


				</li>

			{% else %}

				<li class="nav-item mr-2">
					<a class="nav-link btn btn-success active" href="{{path('account_login')}}">Connexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-info" href="{{ path('registration_teacher') }}">Inscription</a>
				</li>
			{% endif %}


		</ul>

	</div>
</nav>
{% for label,messages in app.flashes %}
	<div class="container mt-1 mb-1">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>

			{% endfor %}

		</div>

	</div>

{% endfor %}
