{% extends "partials_teacher/base.html.twig" %}
{% block title %}visualiser{% endblock %}
{% block body %}
<div class="container mt-2">

<nav aria-label="breadcrumb  mb-2">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">
<a href="#" id="back" class="btn btn-info">

	<i class="fas fa-angle-left"></i>Retour</a>

		</li>

	</ol>
</nav>

<div class="alert alert-light text-center" role="alert">
</div>
<div class="jumbotron">
	<h1 class="display-4">
	{{exercise.title}}
	
	</h1>
	{{exercise.description | raw }}
	<hr class="my-4">
	{% set cp = 1 %}
{% for line in exercise.linesExercise %}
<div class="alert alert-secondary mb-2" role="alert">
<span class="badge badge-info mr-2">{{ cp }}</span>
{{line.instruction}}


</div>
{% set cp = cp + 1 %}
		
	{% endfor %}
	<hr class="my-4">
	
<a class="btn btn-primary btn-lg" href="{{path('parson_create',{'id' :exercise.id})}}" role="button">

	<i class="fas fa-edit"></i>Modifier</a>

</div>



</div>


{% endblock %}