{% extends "partials_teacher/base.html.twig" %}
{% block title %}
	les exercices de cours
	{{ classe.title }}
{% endblock %}
{% block body %}
	<div class="container-fluid mt-2">
		<nav aria-label="breadcrumb mt-2">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="{{path('exercise_create')}}" class="btn btn-info">Ajouter un exercice</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#" class="btn btn-info">Ajouter un exercice type Parson</a>
				</li>

			</ol>
		</nav>
		<div class="jumbotron mt-2">
			<h1 class="display-4">Les exercices de cours
				{{classe.title}}</h1>

			<hr class="my-4">
			{% if classe.exercise is not empty  %}

				<table class="table table-hover">

					<thead>
						<tr>

							<th scope="col">titre</th>
							<th scope="col">date de création</th>
							<th scope="col">type</th>
							<th scope="col" class="d-flex justify-content-center">action</th>
						</tr>
					</thead>
					<tbody>
						{% for exercise in classe.exercise %}

							<tr>

								<td>{{exercise.title}}</td>
								<td>{{exercise.dateCreate | date("d-m-Y")}}</td>
								<td>{{exercise.type}}</td>
								<td class="d-flex justify-content-end">

									<a href="{{path('exercise_show',{'id' : exercise.id} )}}" class="nav-link btn btn-outline-success ml-1" data-toggle="tooltip" data-placement="top" title="visualiser">


										<i class="fas fa-eye"></i>
										visualiser

									</a>
									<a href="{{ path('exercise_edit',{'id' : exercise.Id })}}" class="nav-link btn btn-outline-success ml-1" data-toggle="tooltip" data-placement="top" title="modifier">
										<i class="fas fa-edit"></i>
										modifier</a>
									<a href="{{ path('exercise_remove',{'id' : exercise.Id })}}" class="nav-link btn btn-outline-success ml-1" data-toggle="tooltip" data-placement="top" title="supprimer">

										<i class="fas fa-trash-alt"></i>
										supprimer
									</a>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>


			{% endif %}

		</div>
	{% endblock %}
